<div class="contact-page">
    <div class="container-contact">
        <div>
            <h1>Contact Us</h1>
            <P>My preferred way of contact is via Twitter <fa-icon [icon]="faTwitter"
                    [styles]="{ 'color': 'cornflowerblue', 'cursor': 'pointer' }"
                    (click)="onLinkClick('twitter')"></fa-icon>. Check out my social
                media to keep in touch.</P>
        </div>
        <div class="example-button-row">
            <fa-icon [icon]="faGithub" [size]="'2x'" (click)="onLinkClick('github')"></fa-icon>
            <fa-icon [icon]="faDev" [size]="'2x'" (click)="onLinkClick('dev')"></fa-icon>
            <fa-icon [icon]="faTwitter" [size]="'2x'" (click)="onLinkClick('twitter')"></fa-icon>
            <fa-icon [icon]="faMedium" [size]="'2x'" (click)="onLinkClick('medium')"></fa-icon>
            <fa-icon [icon]="faStackOverflow" [size]="'2x'" (click)="onLinkClick('stackOverflow')"></fa-icon>
            <fa-icon [icon]="faLinkedin" [size]="'2x'" (click)="onLinkClick('linkedin')"></fa-icon>
            <fa-icon [icon]="faGoogle" [size]="'2x'" (click)="onLinkClick('google')"></fa-icon>
        </div>

    </div>
</div>