<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"> <span class="logo">
            <button mat-button>{{companyName}}</button></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse my-position" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <button mat-button href="#">Home</button>
                <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
            </li>
            <li class="nav-item">
                <button mat-button href="#">About Us</button>
                <!-- <a class="nav-link" href="#">Link</a> -->
            </li>


            <li class="nav-item">
                <button mat-button href="#">Contact Us</button>
            </li>
        </ul>
        <app-headermenu></app-headermenu>
    </div>

</nav>